# Creation of Language Training Profiles

## 1. Required Imports

In [8]:
import nltk
nltk.download('punkt')
from nltk.tokenize import word_tokenize
import pandas as pd

[nltk_data] Downloading package punkt to
[nltk_data]     /Users/ashwinkumar/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

## 2. Read Wili-2018 Dataset and filter it for 37 European Languages

In [4]:
data = pd.read_csv('/Users/ashwinkumar/Downloads/Language Detection/wili-2018/x_train.txt', sep='\r\n', header=None, engine='python')
res = pd.read_csv('/Users/ashwinkumar/Downloads/Language Detection/wili-2018/y_train.txt', sep='\r\n', header=None, engine='python')
langs = ['eng']
#'swe','nld','tur','lat','dan','por','fra','bos','bul','gle','be-tarask','spa','isl','cym','srp','ita','fin','cat','ron','ces','rus','lit','sqi','slk','ukr','hrv','eng','mlt','hye','nno','hun','deu','mwl','pol','ell','ltz']
data['1'] = res
data.columns = ['text', 'lang']
data = data[data['lang'].isin(langs)].reset_index(drop=True)
data.head()

                                                text lang
0  In 1978 Johnson was awarded an American Instit...  eng
1  Bussy-Saint-Georges has built its identity on ...  eng
2  Minnesota's state parks are spread across the ...  eng
3  Nordahl Road is a station served by North Coun...  eng
4  A talk by Takis Fotopoulos about the Internati...  eng

## 3. Print filtered Lang Samples and Shape of Dataframe

In [5]:
print(data.head())
data.shape

                                                text lang
0  In 1978 Johnson was awarded an American Instit...  eng
1  Bussy-Saint-Georges has built its identity on ...  eng
2  Minnesota's state parks are spread across the ...  eng
3  Nordahl Road is a station served by North Coun...  eng
4  A talk by Takis Fotopoulos about the Internati...  eng

(500, 2)

## 4. Preprocess Lang Data(Remove punctuations and digits)

In [6]:
data['text'] = data['text'].str.replace(r'[^\w\s]+', '')
data['text'] = data['text'].str.replace(r'[\d]+', '')
data['text'] = data['text'].astype(str).str.lower()
data.shape

(500, 2)

## 4. Tokenize Lang Data to Prepare Lang Profiles

In [9]:
#data = data.groupby('lang')['text'].apply(' '.join).reset_index()
data['text'] = data.text.apply(word_tokenize)
data.shape

(500, 2)

## 5. Function to Create N-GRAMS

In [10]:
def word2ngrams(text, n=3):
  """ Convert word into character ngrams. """
  return [text[i:i+n] for i in range(len(text)-n+1)]

## 6. Generate Lang Profiles using Mono, Bi and Tri GRAMS

In [11]:
ngrams = []
data['ngrams'] = ''
for lang in data.text:
    lang_ngram = []
    for word in lang:
        lang_ngram = lang_ngram + word2ngrams(word,1) + word2ngrams(word,2) + word2ngrams(word, 3)
    lang_ngram = sorted(list(set(lang_ngram)), key=len)
    ngrams.append(lang_ngram)

for i in range(len(ngrams)):
    data.at[i, 'ngrams'] = ngrams[i]
data.shape

(500, 3)

In [12]:
data.head()

,text,lang,ngrams
0,"[in, johnson, was, awarded, an, american, inst...",eng,"[p, f, n, u, a, e, o, m, d, z, k, b, h, w, i, ..."
1,"[bussysaintgeorges, has, built, its, identity,...",eng,"[p, s, y, f, n, v, u, a, e, o, m, q, d, k, b, ..."
2,"[minnesotas, state, parks, are, spread, across...",eng,"[u, k, t, r, g, p, y, a, e, o, b, h, i, c, l, ..."
3,"[nordahl, road, is, a, station, served, by, no...",eng,"[p, y, f, n, v, u, a, e, o, m, d, k, b, h, w, ..."
4,"[a, talk, by, takis, fotopoulos, about, the, i...",eng,"[p, y, f, n, v, u, a, e, o, m, z, d, k, b, h, ..."

## 7. Write Generated Lang Profiles in JSON

In [13]:
data.to_json('/Users/ashwinkumar/Downloads/Language Detection/wili-2018/lang_profiles.json', orient='values')

# Detect Language using Test Language Profiles

## 1. Load Test Data

In [15]:
test_data = pd.read_csv('/Users/ashwinkumar/Downloads/Language Detection/wili-2018/x_test.txt', sep='\r\n', header=None, engine='python')
test_res = pd.read_csv('/Users/ashwinkumar/Downloads/Language Detection/wili-2018/y_test.txt', sep='\r\n', header=None, engine='python')
test_langs = ['eng']
    #'swe','nld','tur','lat','dan','por','fra','bos','bul','gle','be-tarask','spa','isl','cym','srp','ita','fin','cat','ron','ces','rus','lit','sqi','slk','ukr','hrv','eng','mlt','hye','nno','hun','deu','mwl','pol','ell','ltz']
test_data['1'] = test_res
test_data.columns = ['text', 'lang']
test_data = test_data[test_data['lang'].isin(langs)].reset_index(drop=True)
test_data.head()

                                                text lang
0  Anton (or Antonius) Maria Schyrleus (also Schy...  eng
1  Zvi Zamir (Hebrew: צבי זמיר‎) born Zvicka Zarz...  eng
2  Texas A&M hired Kennedy in May 2011 after Mark...  eng
3  Philip Johnson architectural drawings, 1943-19...  eng
4  AVCO Embassy Pictures, the film's financial ba...  eng

## 2. Print filtered Lang Test Samples and Shape of Dataframe

In [16]:
print(test_data.head())
test_data.shape

                                                text lang
0  Anton (or Antonius) Maria Schyrleus (also Schy...  eng
1  Zvi Zamir (Hebrew: צבי זמיר‎) born Zvicka Zarz...  eng
2  Texas A&M hired Kennedy in May 2011 after Mark...  eng
3  Philip Johnson architectural drawings, 1943-19...  eng
4  AVCO Embassy Pictures, the film's financial ba...  eng

(500, 2)

## 3. Preprocess Test Lang Data(Remove punctuations and digits)

In [17]:
test_data['text'] = test_data['text'].str.replace(r'[^\w\s]+', '')
test_data['text'] = test_data['text'].str.replace(r'[\d]+', '')
test_data['text'] = test_data['text'].astype(str).str.lower()
test_data.head()

                                                text lang
0  anton or antonius maria schyrleus also schyrl ...  eng
1  zvi zamir hebrew צבי זמיר born zvicka zarzevsk...  eng
2  texas am hired kennedy in may  after mark turg...  eng
3  philip johnson architectural drawings  bulk he...  eng
4  avco embassy pictures the films financial back...  eng

## 4. Tokenize Test Lang Data to Prepare Lang Profiles

In [123]:
test_data['text'] = test_data.text.apply(word_tokenize)
test_data.head()

                                                text lang
0  [schiedam, is, gelegen, tussen, rotterdam, en,...  nld
1  [savannklimat, råder, i, trakten, årsmedeltemp...  swe
2  [kaye, friade, till, sin, flickvän, pianisten,...  swe
3  [pantopipetta, brevipilata, är, en, havsspinde...  swe
4  [moffatia, plumicauda, is, een, vlinder, uit, ...  nld

## 5. Generate Test Lang Profiles using Mono, Bi and Tri GRAMS

In [124]:
ngrams = []
test_data['ngrams'] = ''
for lang in test_data.text:
    lang_ngram = []
    for word in lang:
        lang_ngram = lang_ngram + word2ngrams(word,1) + word2ngrams(word,2) + word2ngrams(word, 3)
    lang_ngram = sorted(list(set(lang_ngram)), key=len)
    ngrams.append(lang_ngram)
#print(ngrams)
for i in range(len(ngrams)):
    test_data.at[i, 'ngrams'] = ngrams[i]
test_data.head()

,text,lang,ngrams
0,"[schiedam, is, gelegen, tussen, rotterdam, en,...",nld,"[b, j, e, t, m, v, s, r, l, p, u, g, d, h, w, ..."
1,"[savannklimat, råder, i, trakten, årsmedeltemp...",swe,"[b, å, j, e, t, m, v, s, r, l, p, ä, u, g, d, ..."
2,"[kaye, friade, till, sin, flickvän, pianisten,...",swe,"[å, r, l, p, g, ö, z, e, v, s, u, w, k, m, n, ..."
3,"[pantopipetta, brevipilata, är, en, havsspinde...",swe,"[b, å, j, e, t, m, v, s, r, p, l, ä, u, g, d, ..."
4,"[moffatia, plumicauda, is, een, vlinder, uit, ...",nld,"[b, y, j, e, t, m, v, s, r, p, l, u, g, d, h, ..."

In [125]:
test_data.shape

(1000, 3)

In [126]:
print(data['ngrams'][0])
print(test_data['ngrams'][0])

['b', 'y', 'j', 'å', 'e', 't', 'm', 's', 'r', 'p', 'l', 'u', 'g', 'd', 'h', 'i', 'o', 'c', 'n', 'f', 'a', 'k', 'su', 'is', 're', 'ri', 'ar', 'in', 'nd', 'ec', 'ra', 'eb', 'of', 'as', 'sk', 'it', 'ot', 'bi', 'me', 'hi', 'at', 'di', 'er', 'he', 'ns', 'br', 'ir', 'ph', 'ru', 'ma', 'på', 'bl', 'ro', 'ea', 'si', 'rc', 'li', 'ui', 'tr', 'ne', 'ia', 'ho', 'je', 'ty', 'us', 'no', 'ep', 'ss', 'io', 'or', 'om', 'se', 'ca', 'st', 'ng', 'en', 'es', 'be', 'ci', 'an', 'ib', 'ti', 'os', 'th', 'jo', 'ut', 'tu', 'pe', 'ts', 'ch', 'ei', 'to', 'ic', 'ry', 'itu', 'sui', 'ira', 'bes', 'jes', 'seb', 'tre', 'rea', 'erc', 'ere', 'ebe', 'sti', 'ssi', 'eir', 'ici', 'dia', 'jos', 'esu', 'per', 'rch', 'oth', 'nor', 'rei', 'ric', 'lio', 'mas', 'ose', 'tit', 'ian', 'bri', 'ist', 'ris', 'ino', 'tho', 'his', 'eat', 'bli', 'sin', 'oma', 'ary', 'ner', 'uti', 'ibr', 'tut', 'rom', 'ori', 'the', 'ins', 'oru', 'nst', 'iar', 'hin', 'bib', 'hom', 'nsk', 'eph', 'sto', 'iot', 'its', 'sep', 'lib', 'uss', 'sia', 'hec', 'rus', 'tor', 'eca', 'chi', 'ibl', 'ome', 'eng', 'and', 'aty', 'uit']
['b', 'j', 'e', 't', 'm', 'v', 's', 'r', 'l', 'p', 'u', 'g', 'd', 'h', 'w', 'i', 'o', 'c', 'n', 'a', 'k', 'wo', 'ap', 'is', 'eg', 'al', 're', 'ri', 'dm', 'ar', 'in', 'gs', 'nd', 'ni', 'ra', 'ev', 'ha', 'de', 'as', 'ot', 'bi', 'eu', 'nt', 'wi', 'me', 'gr', 'aa', 'el', 'vo', 'ke', 'hi', 'di', 'at', 'er', 'vl', 'ta', 'he', 'ns', 'rs', 'br', 'ad', 'ie', 'jk', 'cb', 've', 'ma', 'nw', 'sc', 'ro', 'ht', 'et', 'nk', 'li', 'ld', 'il', 'ee', 'og', 'ne', 'te', 'pr', 'ho', 'mo', 'je', 'us', 'tt', 'la', 'oo', 'ol', 'uw', 'ss', 'or', 'ac', 'om', 'bs', 'se', 'on', 'st', 'ng', 'en', 'ge', 'be', 'sp', 'an', 'ok', 'ek', 'am', 'ij', 'nn', 'ed', 'we', 'tu', 'pe', 'ch', 'rd', 'da', 'to', 'le', 'em', 'nke', 'ndm', 'met', 'oog', 'len', 'hie', 'end', 'gen', 'rac', 'che', 'sen', 'inw', 'ent', 'nev', 'ere', 'nte', 'pro', 'sta', 'dmo', 'isc', 'apr', 'ieu', 'din', 'lij', 'bin', 'ole', 'eme', 'ate', 'bek', 'nie', 'nge', 'ril', 'ele', 'per', 'inn', 'wer', 'voo', 'ors', 'aas', 'oor', 'sse', 'ter', 'nwo', 'tte', 'pri', 'sch', 'dam', 'hoo', 'jen', 'ijk', 'ard', 'eda', 'win', 'ist', 'erd', 'rda', 'ris', 'mee', 'rsp', 'onk', 'ron', 'bro', 'his', 'ene', 'eld', 'euw', 'cbs', 'nen', 'tad', 'rel', 'ken', 'rdi', 'won', 'ner', 'leg', 'ogs', 'ori', 'gel', 'mol', 'laa', 'tus', 'kel', 'ral', 'ten', 'had', 'ers', 'ied', 'nst', 'ver', 'ens', 'spr', 'hte', 'gst', 'sto', 'ste', 'ach', 'uss', 'ing', 'tor', 'gra', 'eli', 'eke', 'ook', 'ege', 'cht', 'chi', 'one', 'rot', 'vla', 'ora', 'maa', 'ott', 'een', 'ind', 'aar', 'nne', 'uwe', 'eve', 'gem', 'lat', 'aan', 'haa']

In [127]:
data.shape

(1000, 3)

In [ ]:
UB = 0.95
LB = 0.92

for i in range(len(test_data)):
    for j in range(len(data)):
        data.at[j, 'match_rate_lang_'+str(i)] = len(set(test_data.iloc[i]['ngrams']).intersection(data.iloc[j]['ngrams']))/len(data.iloc[j]['ngrams'])
data.head()

In [108]:
print('Language\tScore')
for i in range(len(test_data)):
    print(data.loc[data['match_rate_lang_'+str(i)].idxmax()]['lang']+'\t'+str(data.loc[data['match_rate_lang_'+str(i)].idxmax()]['match_rate_lang_'+str(i)]))

Language	Score
nld	0.5915492957746479
nld	0.7853107344632768
nld	0.42613636363636365
nld	0.7810650887573964
nld	0.42962962962962964
nld	0.3898305084745763
nld	0.6637931034482759
nld	0.7928994082840237
nld	0.5638297872340425
nld	0.6513761467889908
nld	0.6190476190476191
nld	0.562962962962963
nld	0.6206896551724138
nld	0.5460526315789473
nld	0.4619289340101523
nld	0.7276595744680852
nld	0.43783783783783786
nld	0.6699029126213593
nld	0.6810344827586207
nld	0.6551724137931034
nld	0.7302631578947368
nld	0.5562913907284768
nld	0.6
nld	0.5105263157894737
nld	0.36507936507936506
nld	0.6510067114093959
nld	0.6260162601626016
nld	0.861878453038674
nld	0.7073170731707317
nld	0.6864864864864865
nld	0.5
nld	0.8496732026143791
nld	0.7816901408450704
nld	0.7751479289940828
nld	0.4966887417218543
nld	0.528169014084507
nld	0.5603448275862069
nld	0.603448275862069
nld	0.6454545454545455
nld	0.8165680473372781
nld	0.5789473684210527
nld	0.6180555555555556
nld	0.6796536796536796
nld	0.8186813186813187
nld	0.8351648351648352
nld	0.7394366197183099
nld	0.7368421052631579
nld	0.8855421686746988
nld	0.5779816513761468
nld	0.9126637554585153
nld	0.5431034482758621
nld	0.49206349206349204
nld	0.4858490566037736
nld	0.7327586206896551
nld	0.5851851851851851
nld	0.48598130841121495
nld	0.7777777777777778
nld	0.6690140845070423
nld	0.7333333333333333
nld	0.7485029940119761
nld	0.49295774647887325
nld	0.7919463087248322
nld	0.8223684210526315
nld	0.7257142857142858
nld	0.5434782608695652
nld	0.5258620689655172
nld	0.47413793103448276
nld	0.5728155339805825
nld	0.9111111111111111
nld	0.7928994082840237
nld	0.5422535211267606
nld	0.6240601503759399
nld	0.40397350993377484
nld	0.5086206896551724
nld	0.7912087912087912
nld	0.6551724137931034
nld	0.5086206896551724
nld	0.5045871559633027
nld	0.4639175257731959
nld	0.6551724137931034
nld	0.592391304347826
nld	0.5203252032520326
nld	0.6331360946745562
nld	0.5058823529411764
nld	0.5344827586206896
nld	0.7758620689655172
nld	0.5306122448979592
nld	0.5138888888888888
nld	0.6369426751592356
nld	0.5431034482758621
nld	0.625
nld	0.7295597484276729
nld	0.5422535211267606
nld	0.6408450704225352
nld	0.7633136094674556
nld	0.47368421052631576
nld	0.5244755244755245
nld	0.5974025974025974
nld	0.35714285714285715
nld	0.6408450704225352
nld	0.5157232704402516
nld	0.5
nld	0.7155172413793104
nld	0.7692307692307693
nld	0.5657894736842105
nld	0.5413533834586466
nld	0.5431034482758621
nld	0.5921052631578947
nld	1.0
nld	0.41379310344827586
nld	0.8402061855670103
nld	0.8156424581005587
nld	0.4012345679012346
nld	0.8305084745762712
nld	0.6136363636363636
nld	0.5379310344827586
nld	0.6114649681528662
nld	0.5492957746478874
nld	0.8201058201058201
nld	0.5431034482758621
nld	0.4125874125874126
nld	0.5772357723577236
nld	0.7293233082706767
nld	0.41284403669724773
nld	0.7197452229299363
nld	0.8021978021978022
nld	0.6649746192893401
nld	0.5789473684210527
nld	0.593103448275862
nld	0.75
nld	0.7247191011235955
nld	0.8679245283018868
nld	0.43448275862068964
nld	0.6724137931034483
nld	0.603448275862069
nld	0.4934210526315789
nld	0.5775862068965517
nld	0.4909090909090909
nld	0.7413793103448276
nld	0.6293706293706294
nld	0.6619718309859155
nld	0.4796747967479675
nld	0.8087431693989071
nld	0.5229357798165137
nld	0.6026490066225165
nld	0.4959349593495935
nld	0.8143712574850299
nld	0.6551724137931034
nld	0.6896551724137931
nld	0.6308724832214765
nld	0.7735849056603774
nld	0.5203252032520326
nld	0.48223350253807107
nld	0.6120689655172413
nld	0.6349206349206349
nld	0.5
nld	0.43103448275862066
nld	0.834319526627219
nld	0.49056603773584906
nld	0.5333333333333333
nld	0.8496732026143791
nld	0.5789473684210527
nld	0.5939849624060151
nld	0.7740112994350282
nld	0.7818181818181819
nld	0.697986577181208
nld	0.5862068965517241
nld	0.49137931034482757
nld	0.7068965517241379
nld	0.7692307692307693
nld	0.7823529411764706
nld	0.5424528301886793
nld	0.8888888888888888
nld	0.45871559633027525
nld	0.753968253968254
nld	0.5256410256410257
nld	0.47586206896551725
nld	0.4631578947368421
nld	0.5263157894736842
nld	1.0
nld	0.8095238095238095
nld	0.6466165413533834
nld	0.5740740740740741
nld	0.6553398058252428
nld	0.8135593220338984
nld	0.5413533834586466
nld	0.6820809248554913
nld	0.7068965517241379
nld	0.7692307692307693
nld	0.39655172413793105
nld	0.5263157894736842
nld	0.3458646616541353
nld	0.6379310344827587
nld	0.7909604519774012
nld	0.52
nld	0.5422535211267606
nld	0.5302013422818792
nld	0.373015873015873
nld	0.6379310344827587
nld	0.5862068965517241
nld	0.47413793103448276
nld	0.47413793103448276
nld	0.6991869918699187
nld	0.75
nld	0.5927835051546392
nld	0.7793103448275862
nld	0.5684210526315789
nld	0.4878048780487805
nld	0.5086206896551724
nld	0.5639097744360902
nld	0.7588235294117647
nld	0.5263157894736842
nld	0.757396449704142
nld	0.5298013245033113
nld	0.6616541353383458
nld	0.6190476190476191
nld	0.8806584362139918
nld	0.5140845070422535
nld	0.8806584362139918
nld	0.6120689655172413
nld	0.5
nld	0.706766917293233
nld	0.5775862068965517
nld	0.6293103448275862
nld	0.4396551724137931
nld	0.7633136094674556
nld	0.7142857142857143
nld	0.4224137931034483
nld	0.8165680473372781
nld	0.4224137931034483
nld	0.6637931034482759
nld	0.6016260162601627
nld	0.7764705882352941
nld	0.6992481203007519
nld	0.8552631578947368
nld	0.6504065040650406
nld	0.8351648351648352
nld	0.6666666666666666
nld	0.6825396825396826
nld	0.7413793103448276
nld	0.5862068965517241
nld	0.8176470588235294
nld	0.6016260162601627
nld	0.4968553459119497
nld	0.49746192893401014
nld	0.49375
nld	0.5
nld	0.7241379310344828
nld	0.6879432624113475
nld	0.5344827586206896
nld	0.5961538461538461
nld	0.8165680473372781
nld	0.7013888888888888
nld	0.5431034482758621
nld	0.7241379310344828
nld	0.7526315789473684
nld	0.7928994082840237
nld	0.49624060150375937
nld	0.5517241379310345
nld	0.5862068965517241
nld	0.5338345864661654
nld	0.4835164835164835
nld	0.47586206896551725
nld	0.6305732484076433
nld	0.807909604519774
nld	0.5140845070422535
nld	0.7450980392156863
nld	0.49137931034482757
nld	0.5344827586206896
nld	0.6551724137931034
nld	0.6432432432432432
nld	0.4793388429752066
nld	0.6178343949044586
nld	0.5297619047619048
nld	0.8033707865168539
nld	0.6206896551724138
nld	0.8402366863905325
nld	0.630057803468208
nld	0.7916666666666666
nld	0.5948275862068966
nld	0.6346153846153846
nld	0.6120689655172413
nld	0.47183098591549294
nld	0.7007042253521126
nld	0.4528301886792453
nld	0.6111111111111112
nld	0.6370370370370371
nld	0.7751479289940828
nld	0.6910569105691057
nld	0.5613207547169812
nld	0.7944444444444444
nld	0.6165413533834586
nld	0.718562874251497
nld	0.8206521739130435
nld	0.7763157894736842
nld	0.6444444444444445
nld	0.8042328042328042
nld	0.6842105263157895
nld	0.5431034482758621
nld	0.6551724137931034
nld	0.5588235294117647
nld	0.6358381502890174
nld	0.6379310344827587
nld	0.7006802721088435
nld	0.49206349206349204
nld	0.7213930348258707
nld	0.6120689655172413
nld	0.5081967213114754
nld	0.43103448275862066
nld	0.7771084337349398
nld	0.5786163522012578
nld	0.6150234741784038
nld	0.6269230769230769
nld	0.603448275862069
nld	0.7150259067357513
nld	0.8059701492537313
nld	0.49137931034482757
nld	0.4482758620689655
nld	0.7823529411764706
nld	0.7293233082706767
nld	0.7291666666666666
nld	0.8235294117647058
nld	0.6968085106382979
nld	0.4959349593495935
nld	0.6
nld	0.7046979865771812
nld	0.905829596412556
nld	0.5263157894736842
nld	0.75
nld	0.5948275862068966
nld	0.45689655172413796
nld	0.46551724137931033
nld	0.5823529411764706
nld	0.5258620689655172
nld	0.6497175141242938
nld	0.5633802816901409
nld	0.4375
nld	0.7611111111111111
nld	0.49624060150375937
nld	0.9209486166007905
nld	0.49137931034482757
nld	0.6637931034482759
nld	0.7374301675977654
nld	0.8074866310160428
nld	0.0
nld	0.3873239436619718
nld	0.5384615384615384
nld	0.8121546961325967
nld	0.6530612244897959
nld	0.45774647887323944
nld	0.562874251497006
nld	0.5853658536585366
nld	0.6148648648648649
nld	0.8210526315789474
nld	0.8117647058823529
nld	0.5688073394495413
nld	0.6276595744680851
nld	0.6992481203007519
nld	0.543859649122807
nld	0.5825242718446602
nld	0.6842105263157895
nld	0.9470198675496688
nld	0.6710526315789473
nld	0.5079365079365079
nld	0.5948275862068966
nld	0.6447368421052632
nld	0.6383763837638377
nld	0.7171052631578947
nld	0.5845070422535211
nld	0.8108108108108109
nld	0.7154471544715447
nld	0.6424581005586593
nld	0.6428571428571429
nld	0.7241379310344828
nld	0.7155172413793104
nld	0.42857142857142855
nld	0.7810650887573964
nld	0.49295774647887325
nld	0.6442953020134228
nld	0.6458333333333334
nld	0.7923497267759563
nld	0.8
nld	0.5603448275862069
nld	0.5939849624060151
nld	0.6711409395973155
nld	0.5238095238095238
nld	0.7564766839378239
nld	0.8026315789473685
nld	0.47413793103448276
nld	0.6619718309859155
nld	0.788235294117647
nld	0.5781990521327014
nld	0.618421052631579
nld	0.6206896551724138
nld	0.7919463087248322
nld	0.5789473684210527
nld	0.7722222222222223
nld	0.7810650887573964
nld	0.603448275862069
nld	0.9436619718309859
nld	0.5948275862068966
nld	0.6912751677852349
nld	0.6711409395973155
nld	0.5980392156862745
nld	0.8888888888888888
nld	0.7700534759358288
nld	0.5586206896551724
nld	0.7413793103448276
nld	0.46616541353383456
nld	0.5775862068965517
nld	0.5704225352112676
nld	0.5492957746478874
nld	0.7134146341463414
nld	0.6190476190476191
nld	0.6818181818181818
nld	0.7627118644067796
nld	0.4819277108433735
nld	0.5772357723577236
nld	0.5873015873015873
nld	0.4619883040935672
nld	0.8813559322033898
nld	0.5620915032679739
nld	0.5408805031446541
nld	0.5948275862068966
nld	0.6197183098591549
nld	0.7302631578947368
nld	0.5086206896551724
nld	0.5759493670886076
nld	0.4968553459119497
nld	0.47368421052631576
nld	0.46710526315789475
nld	0.4897959183673469
nld	0.4391891891891892
nld	0.5555555555555556
nld	0.8265895953757225
nld	0.6120689655172413
nld	0.7810650887573964
nld	0.6459143968871596
nld	0.47904191616766467
nld	0.6111111111111112
nld	0.47413793103448276
nld	0.6052631578947368
nld	0.8734939759036144
nld	0.4396551724137931
nld	0.48623853211009177
nld	0.7218045112781954
nld	0.5
nld	0.7208121827411168

nld	0.7005649717514124
nld	0.4014084507042254
nld	0.6120689655172413
nld	0.5408805031446541
nld	0.5673076923076923
nld	0.5862068965517241
nld	0.8157894736842105
nld	0.5563380281690141
nld	0.6293103448275862
nld	0.6973684210526315
nld	0.47413793103448276
nld	0.6810344827586207
nld	0.6379310344827587
nld	0.4482758620689655
nld	0.6369426751592356
nld	0.5704697986577181
nld	0.3888888888888889
nld	0.6551724137931034
nld	0.4972972972972973
nld	0.6255924170616114
nld	0.6724137931034483
nld	0.5416666666666666
nld	0.5517241379310345
nld	0.776536312849162
nld	0.6666666666666666
nld	0.5
nld	0.42105263157894735
nld	0.5231788079470199
nld	0.6529411764705882
nld	0.5471698113207547
nld	0.556390977443609
nld	0.5
nld	0.5939849624060151
nld	0.7758620689655172
nld	0.5310344827586206
nld	0.6691729323308271
nld	0.7966101694915254
nld	0.8229166666666666
nld	0.5481481481481482
nld	0.5609756097560976
nld	0.5714285714285714
nld	0.8315789473684211
nld	0.6702702702702703
nld	0.6338028169014085
nld	0.7394366197183099
nld	0.5862068965517241
nld	0.5192307692307693
nld	0.6896551724137931
nld	0.7664670658682635
nld	0.58125
nld	0.5486111111111112
nld	0.4652777777777778

In [109]:
results = []
for i in range(len(test_data)):
    results.append({'Language':data.loc[data['match_rate_lang_'+str(i)].idxmax()]['lang'], 'Score':data.loc[data['match_rate_lang_'+str(i)].idxmax()]['match_rate_lang_'+str(i)]})
res_df = pd.DataFrame(results)
res_df.head()

  Language     Score
0      nld  0.591549
1      nld  0.785311
2      nld  0.426136
3      nld  0.781065
4      nld  0.429630

In [110]:
res_df['Score'].mean()

0.628117824575719